/* BOOKMARKS
/* ---------------------------------------------------------- */

.kg-bookmark-card {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}
.kg-bookmark-container {
  display: -webkit-box;
  display: flex;
  overflow: hidden;
}
.kg-bookmark-container:after {
  display: none;
}
.kg-bookmark-content {
  overflow: hidden;
  padding: 25px;
}
.kg-bookmark-title {
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}
.kg-bookmark-description {
  color: #999;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.kg-bookmark-metadata {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  font-size: 14px;
  margin-top: 5px;
}
.kg-bookmark-icon {
  height: 20px;
  margin-right: 5px;
  width: 20px;
}
.kg-bookmark-author,
.kg-bookmark-publisher {
  color: #1a1a1a;
}
.kg-bookmark-publisher:before {
  content: '•';
  padding: 0 5px;
}
.kg-bookmark-thumbnail {
  flex-shrink: 0;
  margin-left: 20px;
  position: relative;
  width: 300px;
}
.kg-bookmark-thumbnail img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  width: 100%;
}
@media (max-width: 767px) {
  .kg-bookmark-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .kg-bookmark-thumbnail {
    height: 200px;
    margin-left: 0;
    width: 100%;
  }
}
