/* EMBEDS, IMAGES and GALLERIES
/* ---------------------------------------------------------- */


/* IMAGES */

.kg-image-card {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.kg-image-card .kg-image {
    align-self: center;
}

.kg-image-card.kg-card-hascaption figcaption {
    flex: 1 1 auto;
    align-self: center;
}

/* regular images only */
.kg-image-card:not(.kg-width-wide):not(.kg-width-full) .kg-image {
    max-width: 60%;
}

.kg-width-wide .kg-image {
    width: 100%;
}

@media (min-width: 600px) {
    .kg-width-wide .kg-image {
        max-width: 1240px;
    }
}

.kg-width-full .kg-image {
    width: 100vw;
}
