/* Footer
/* ---------------------------------------------------------- */

.footer {
    color: var(--color-agave);
    background: var(--color-offblack);
    padding: 1em 0;
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .6em;
}

.footer-nav a {
    text-decoration: none;
    opacity: .7;
    color: var(--color-offwhite);
    transition: opacity 250ms ease-in;
}

.footer-nav a:hover {
    opacity: 1;
    color: var(--color-offwhite);
}

.footer-nav-right {
    font-family: var(--font-sans-serif);
    font-weight: var(--font-medium);
    text-transform: uppercase;
    color: var(--color-white);
    letter-spacing: .5px;
}

.footer-nav-right a {
    margin-right: 1em;
}