/* Footer
/* ---------------------------------------------------------- */

.footer {
    padding: 1em 2em;
    color: var(--color-agave);
    background: var(--color-navy);
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav a {
    text-decoration: none;
    opacity: .7;
    color: var(--color-offwhite);
    transition: opacity 250ms ease-in;
}

.footer-nav a:hover {
    opacity: 1;
    color: var(--color-offwhite);
}

.footer-nav-right a {
    margin-right: 1em;
}