/* FORMS */

input {
  padding: 10px;
  font-size: 12px;
  text-transform: capitalize;
  text-transform: uppercase;
  font-family: var(--font-sans-serif);
  line-height: 1.5;
  color: var(--color-greige);
  background-color: var(--color-white);
  background-clip: padding-box;
  border: 1px solid var(--color-greige);
  border-radius: 0.25em;
  border-radius: 2px;
}

button,
.acuity-embed-button {
  font-size: 12px;
  font-family: var(--font-sans-serif);
  background-color: var(--color-marigold);
  color: var(--color-white);
  padding: 10px 25px;
  border-radius: 2px;
  line-height: 1.5;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: all 500ms;
  border: 1px solid var(--color-marigold);
  text-transform: uppercase;
  font-weight: var(--font-medium);
  letter-spacing: 0.5px;
  text-decoration: none;
}

button:hover,
.acuity-embed-button:hover {
  background-color: var(--color-cactus);
  border: 1px solid var(--color-cactus);
  color: var(--color-white);
  text-decoration: none;
}

.form-wrapper form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-wrapper * {
  flex: 1 1 99%;
  margin-bottom: 10px;
}

@media (min-width: 801px) {
  .form-wrapper form {
    justify-content: stretch;
    flex-wrap: no-wrap;
  }
  .form-wrapper * {
    flex: 1 1 auto;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
