/* Global
/* ---------------------------------------------------------- */

html {
  background: var(--color-white);
}

body {
  margin: 0;
  min-width: 300px; /* don't be smaller than 300px on devices, because it's impossible */
}

::selection {
  text-shadow: none;
  background: var(--color-rose-light);
}

hr {
  display: block;
  width: 100%;
  padding: 0;
  height: 10px;
  border: 0;
  border-top: 2px solid var(--color-agave-light);
}

audio,
canvas,
iframe,
img,
video {
  vertical-align: middle;
}

svg {
  vertical-align: top;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

textarea {
  resize: vertical;
}

figure {
  margin: 0;
}

figure img {
  margin: 0;
}

figcaption {
  margin: 1em 0 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.icon-a11y {
  display: inline-block; /* Fix for clickability issue in WebKit */
}

/* hide screen reader text */
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* LAYOUT */
.viewport {
}

.container {
  margin: 0 3vw;
}

@media (min-width: 801px) {
  .container.content {
    width: 82vw;
  }
}

@media (min-width: 1045px) {
  .container.content {
    width: 55vw;
  }
}

/* 404 */
.page-404 {
  padding: 0 0 10vw 0;
}
