/* Global
/* ---------------------------------------------------------- */

html {
    background: var(--color-offwhite);
}

body {
    margin: 0;
}

::selection {
    text-shadow: none;
    background: #cbeafb;
}

hr {
    position: relative;
    display: block;
    width: 100%;
    margin: 1.8em 0 2.4em;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #e3e9ed;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

h1+figure,
h2+figure,
h3+figure,
h4+figure {
    margin-top: 2em;
}

figure img {
    margin: 0;
}

figcaption {
    margin: 1.0em 0 0;
}