/* HOME
/* ---------------------------------------------------------- */

.home {
    padding: 2vh 0 4vh 0;
}

@media (min-width: 1200px) {
    .home {
        padding: 8vh 0 12vh;
    }
}

@media (min-width: 800px) {
    .home-intro-text {
        width: 70%;
    }
}

.home-intro-text {
    margin-bottom: 10vh;
}

.home-intro-text a {
    text-decoration: none;
    box-shadow: inset 0 -.65em 0 0 var(--color-marigold-light);
    transition: box-shadow 250ms ease-in;
}

.home-intro-text a:hover {
    color: unset;
    box-shadow: inset 0 -.65em 0 0 var(--color-marigold-mid);
}

/* IMAGE AND MISSION STATEMENT */
.home-mission {
    display: grid;
    justify-content: space-between;	
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 1em;
    grid-template-areas:
        "a"
        "b";
}

@media (min-width: 800px) {
    .home-mission {
        grid-template-columns: 50% auto auto;
        grid-template-rows: .115fr 1fr;
        grid-template-areas:
            "a x x"
            "a b b";
        grid-gap: 3em;
    }
}

@media (min-width: 1000px) {
    .home-mission {
        grid-template-columns: 400px auto auto;
        grid-template-rows: .115fr 1fr;
    }
}

@media (min-width: 1400px) {
    .home-mission {
        grid-gap: 6em;
    }
}

.home-mission-image {
    grid-area: a;
    align-self: start;
}

.home-mission-text {
    grid-area: b;
    align-self: end;
}

.home-mission-text h3 {
    font-style: italic;
    font-size: 1.25em;
    line-height: 1.4;
}


/* FEATURED POSTS */

.home-featured-blogs-title {
    margin-bottom: 2em;
}

.home-featured-blogs {
    padding-bottom: 10vh;
}