/* HOME
/* ---------------------------------------------------------- */

/* .home {
    padding: 2vh 0 4vh 0;
    max-width: 80%;
}

@media (min-width: 1200px) {
    .home {
        padding: 8vh 0 12vh;
    }
} */

.home h2 {
  font-weight: var(--font-bold);
}

.highlight {
  margin-bottom: 6em;
  position: relative;
}

.highlight-text {
  max-width: 980px;
}

.highlight-shape {
  position: absolute;
  left: -120px;
  z-index: -1;
}

.highlight-shape {
  top: -40px;
}

@media (min-width: 801px) {
  .highlight-shape {
    top: -50px;
  }
}

/* WORKSHEETS LIST */
.worksheets {
}

.worksheets-title {
}

.worksheets-feed {
  margin: 2em 0 4em;
}

.worksheet {
}

.worksheet-title {
  margin-bottom: 0.25em;
}

.worksheet-title a {
  text-decoration: none;
  text-transform: uppercase;
}

.worksheet-excerpt {
}

/* OFFERINGS */
.offerings {
  margin-bottom: 6em;
}

.offerings-group {
  margin-bottom: 3em;
}

/* ABOUT BANNER */
.about {
  background: var(--color-navy);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about .link-highlight {
  color: var(--color-white);
}

.about .link-highlight:hover {
  color: var(--color-agave);
  text-decoration-color: var(--color-agave-light);
}

.about-text {
  order: 2;
  padding-bottom: 2em;
}

.about-image {
  flex: 0 0 auto;
  order: 1;
  width: 50%;
  align-self: auto;
  margin-top: -10%;
  margin-bottom: 2em;
}

@media (min-width: 801px) {
  .about {
    max-height: 250px; /* be smaller than the image */
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .about-text {
    padding: 0;
  }
  .about-image {
    order: 2;
    flex: 0 0 350px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* BIG STATEMENT */
.statement {
  background: var(--color-marigold);
  color: var(--color-white);
  font-family: var(--font-serif);
  font-weight: var(--font-bold);
  font-style: italic;
  font-size: 1.5em;
  line-height: 1.3;
  padding: 4em 0;
}
