/* HOME
/* ---------------------------------------------------------- */

.home {
    padding: 2vh 0 4vh 0;
}

@media (min-width: 1200px) {
    .home {
        padding: 8vh 0 12vh;
    }
}

.home-intro-text {
    margin-bottom: 2vh;
    color: var(--color-navy);
    font-family: var(--font-serif);
    font-weight: var(--font-normal);
    font-style: italic;
    font-size: 2em;
    line-height: 1.2;
}