/* PAGE: COACHING
/* ---------------------------------------------------------- */

/* GOLD CURVE SITE HEAD MODIFICATIONS */
.page-style-coaching .site-head {
    color: #fff;
    background: var(--color-marigold);
}

.page-style-coaching .site-head-curve {
    fill: var(--color-marigold);
    vertical-align: top;
}

/* WHITE SITE TITLE AND NAV */
.page-style-coaching .site-mast-title h1 {
    color: var(--color-white);
    opacity: 0.7;
    transition: 250ms opacity ease-in-out;
}

.page-style-coaching .site-mast-title:hover h1 {
    text-decoration: none;
    opacity: 1;
}

.page-style-coaching .site-nav-item {
    color: var(--color-white);
    opacity: 0.7;
    transition: .5s opacity ease-in-out;
}

.page-style-coaching .site-nav-item:hover {
    text-decoration: none;
    opacity: 1;
}

@media (max-width: 800px) {
    .page-style-coaching .site-mast-title h1,
    .page-style-coaching .site-nav-item {
        opacity: 1;
    }
}

/* RESPONSIVE BIG TEXT TAGLINE */
.page-style-coaching-tagline {
    color: var(--color-white);
    padding: 4vmin 0 2vmin;
    font-weight: var(--font-bold);
    font-style: italic;
    line-height: 1.4;
    display: none;
}

@media (min-width: 321px) {
    .page-style-coaching-tagline {
        display: block;
    }
}

@media (min-width: 375px) {
    .page-style-coaching-tagline {
        font-size: 1.1em;
    }
}

@media (min-width: 800px) {
    .page-style-coaching-tagline {
        font-size: 1.275em;
    }
}

/* hide page content title */
.page-style-coaching .content-title { display: none; }

@media (max-width: 800px) {
    .page-style-coaching .site-nav-scroll-wrapper {
        background: var(--color-marigold);
    }
}


/* OVERLAY IMAGE ON HEADER */
@media (min-width: 0) {
    .page-style-coaching-overlay-image {
        transform: translateY(-5vh);
        transform-origin: top left;
        margin: 0;
        margin: 0;
    }

    .page-style-coaching-overlay-image .kg-image-card {
        margin: 0;
    }

    .page-style-coaching-overlay-image .kg-image {
        max-width: 90% !important; /* lol fuck it */
        align-self: flex-start; /* align left, not center */
    }
}

@media (min-width: 768px) {
    .page-style-coaching-overlay-image {
        transform: translateY(-12vh);
        float: left;
        max-width: 56%;
        margin-right: 1em;
    }
}


/* LAYOUT!!!! omg u can just write html im ded */
@media (min-width: 800px) {
    .secondary-offerings {
        display: flex;
        justify-content: space-between;
    }

    .secondary-offerings-item {
        flex: 0 0 45%;
    }
}

.secondary-offerings-strategy-call {}
.secondary-offerings-workshops {}

.testimonial-quote blockquote {
    font-size: 1em;
    color: var(--color-olive);
}
