/* PAGE: COACHING
/* ---------------------------------------------------------- */

/* LAYOUT!!!! omg u can just write html im ded */
@media (min-width: 800px) {
    .secondary-offerings {
        display: flex;
        justify-content: space-between;
    }

    .secondary-offerings-item {
        flex: 0 0 45%;
    }
}

.secondary-offerings-strategy-call {}
.secondary-offerings-workshops {}

.testimonial-quote blockquote {
    font-size: 1em;
    color: var(--color-cactus);
}
