/* CONSULTING PAGE */
.page-consulting {}

.page-consulting .content-title {
    margin-top: 2em;
}

.page-consulting .content a {
    text-decoration: none;
    box-shadow: inset 0 -.65em 0 0 var(--color-marigold-light);
    transition: box-shadow 250ms ease-in;
}

.page-consulting .content a:hover {
    color: unset;
    box-shadow: inset 0 -.65em 0 0 var(--color-marigold-mid);
}

.page-consulting .content {
    padding: 2vh 6vw 10vh;
}

@media (min-width: 1200px) {
    .page-consulting .content {
        padding: 8vh 5vw 24vh;
    }
}

.page-consulting-bio {
    width: 75%;
    margin: 0 auto;
}