/* ABOUT PAGE */
.page-about {}

/* hide page content title */
.page-about .content-title { display: none; }

.page-about h2:first-of-type {
    color: var(--color-navy);
}

.page-about .content a {
    text-decoration: none;
    box-shadow: inset 0 -.65em 0 0 var(--color-marigold-light);
    transition: box-shadow 250ms ease-in;
}

.page-about .content a:hover {
    color: unset;
    box-shadow: inset 0 -.65em 0 0 var(--color-marigold-mid);
}

.page-about .content {
    padding: 2vh 0 10vh 0;
}

@media (min-width: 1200px) {
    .page-about .content {
        padding: 8vh 0 24vh;
    }
}

/* FEATURE IMAGE */
.page-feature {
    float: left;
    max-width: 35%;
    margin: 0 6vw 6vw 0;
}
