/* WORKSHOPS PAGE */
.page-workshops {}


.page-workshops .content-title {
    color: var(--color-navy);
}

.page-workshops .content a {
    text-decoration: none;
    box-shadow: inset 0 -.65em 0 0 var(--color-marigold-light);
    transition: box-shadow 250ms ease-in;
}

.page-workshops .content a:hover {
    color: unset;
    box-shadow: inset 0 -.65em 0 0 var(--color-marigold-mid);
}

.page-workshops .content {
    padding: 2vh 0 10vh 0;
}

@media (min-width: 1200px) {
    .page-workshops .content {
        padding: 8vh 0 24vh;
    }
}