/* HOMEPAGE POST FEED
/* ---------------------------------------------------------- */

/* POST FEED GRID */
.post-feed {
    max-width: 60%;
}


/* POST CARD */
.post-card {
    margin-bottom: 4em;
    padding-bottom: 4em;
    border-bottom: 2px solid var(--color-agave-light);
}

.post-card-header {
    display: flex;
    align-items: flex-start;
}

.post-card-tags {
    display: none;
}

.post-card-image {
    margin: 0 0 1em 0;
    width: auto;
    height: 420px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

/* this element is also a link wrapper around the image and title */
.post-card-main {
    display: block;
}

.post-card-title {
    font-size: 2.3em;
    font-style: italic;
    margin: 0 0 .5em 0;
    transition: color 250ms ease-in;
}

.post-card-main:hover .post-card-title {
    color: var(--color-marigold);
}