/* POST */

.post {
    margin-bottom: 6vw;
}

.post-feature-image {
    margin-bottom: 6em;
}

/* POST HEADER */
.post-header {
    border-bottom: 2px solid var(--color-vanilla);
    margin-bottom: 4em;
}

.post-meta {
    font-family: var(--font-sans-serif);
    font-weight: var(--font-medium);
    text-transform: uppercase;
    margin-bottom: 1em;
    color: var(--color-greige);
    font-size: .65em;
}

/* only post titles, not other h1s */
.post-title {
    color: var(--color-marigold);
    font-style: italic;
    font-family: var(--font-serif);
    font-weight: var(--font-bold);
}
