/* Typography
/* ---------------------------------------------------------- */

html {
    /* flexible font size between 16-20px */
    font-size: min(max(16px, 3vw), 20px);
}

body {
    font-family: var(--font-sans-serif);
    font-weight: var(--font-normal);
    color: var(--color-offblack);
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga" on;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    line-height: 1.15;
    font-weight: var(--font-normal);
    font-family: var(--font-serif);
    color: var(--color-navy);
    text-rendering: optimizeLegibility;
}

/* h1s — page titles, */
h1 {
    margin: 0 0 0.5em 0;
    font-size: .85em;
    color: var(--color-marigold);
    text-transform: uppercase;
    font-family: var(--font-sans-serif);
    font-weight: var(--font-medium);
}

h2 {
    margin: 0.5em 0;
    color: var(--color-navy);
    font-size: 1.33em;
}

/* page second header + homepage highlight — don't use h2s in text! */
/* .content-page h2:first-of-type,
.highlight-text {
    margin-bottom: 2vh;
    color: var(--color-navy);
    font-family: var(--font-serif);
    font-weight: var(--font-normal);
    font-style: italic;
    font-size: 2em;
    line-height: 1.2;
    white-space: break-spaces;
} */

h3 {
    margin: 1.75em 0 0.5em 0;
    font-size: 1.1em;
    font-weight: var(--font-bold);
    font-style: italic;
    color: var(--color-offblack);
}

h4, h5 {
    margin: 1.5em 0 .5em 0;
    font-size: 1em;
    font-family: var(--font-sans-serif);
    font-weight: var(--font-medium);
}

h6 {
    margin: 1.5em 0 .5em 0;
    font-size: .88em;
    font-family: var(--font-sans-serif);
    font-weight: var(--font-medium);
    color: var(--color-greige);
}


/* .call-to-action {
    display: inline-block;
    color: var(--color-navy);
    box-shadow: inset 0 -.8em 0 0 var(--color-agave-light);
    line-height: 1.2;
    font-family: var(--font-serif);
    font-weight: var(--font-bold);
    font-style: italic;
    font-size: 0.8em;
} */

strong {}

/* .link-highlight {
    display: inline;
    color: var(--color-navy);
    font-family: var(--font-serif);
    font-weight: var(--font-bold);
    font-style: italic;
    font-size: 0.88em;
    text-decoration-color: var(--color-agave);
}

.about .link-highlight {
    color: var(--color-white);
}

.about .link-highlight:hover {
    color: var(--color-agave);
    text-decoration-color: var(--color-agave-light);
} */

/* blockquote {
    margin: 1em 0;
    line-height: 1.4;
    font-size: 1.2em;
    font-weight: var(--font-bold);
    font-style: italic;
    font-family: var(--font-serif);
    color: var(--color-rose);
} */

a {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    color: var(--color-navy);
    text-decoration-color: var(--color-agave);
    transition: color 250ms ease-in, text-decoration-color 250ms ease-in;
}

a:hover {
    color: var(--color-marigold);
    text-decoration-color: var(--color-marigold-light);
}

a:focus {
    outline: 2px dotted var(--color-marigold);
    text-decoration-color: var(--color-marigold);
}

a:active {
    color: var(--color-marigold);
    text-decoration-color: var(--color-marigold);
}

p,
ul,
ol,
dl,
blockquote {
    margin: 0 0 1.5em 0;
}

ol,
ul {
    padding-left: 1.3em;
    padding-right: 1.5em;
}

ol ol,
ul ul,
ul ol,
ol ul {
    margin: 0.5em 0 1em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

ul,
ol {
    max-width: 100%;
}

li {
    margin: 0.5em 0;
    padding-left: 0.3em;
    line-height: 1.6em;
}

dt {
    float: left;
    margin: 0 20px 0 0;
    width: 120px;
    font-weight: 500;
    text-align: right;
}

dd {
    margin: 0 0 5px 0;
    text-align: left;
}