/* Typography
/* ---------------------------------------------------------- */

html {
    /* flexible font size between 16-20px */
    font-size: min(max(16px, 3vw), 20px);
}

body {
    font-family: var(--font-serif);
    font-weight: var(--font-normal);
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga" on;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    line-height: 1.15;
    font-weight: var(--font-bold);
    text-rendering: optimizeLegibility;
}

/* page, post content h1s */
h1 {
    margin: 0 0 0.5em 0;
    font-weight: 700;
    font-size: 2.441em;
    color: var(--color-navy);
}

h2 {
    margin: 1.5em 0 0.5em 0;
    font-weight: var(--font-bold);
    color: var(--color-navy);
    font-style: italic;
    font-size: 1.953em;
}

h3 {
    margin: 1.5em 0 .75em 0;
    font-size: 1.563em;
    color: var(--color-marigold);
    font-weight: var(--font-bold);
}

h4 {
    margin: 1.5em 0 .75em 0;
    font-size: 1.25em;
    font-weight: var(--font-bold);
    color: var(--color-storm);
}

h5 {
    margin: 1.5em 0 .75em 0;
    font-size: 1.25em;
    font-weight: var(--font-bold);
    color: var(--color-storm);
}

h6 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1em;
    color: var(--color-storm);
}

strong {
    color: var(--color-navy);
}

blockquote {
    margin: 1em 0;
    line-height: 1.4;
    font-size: 1.2em;
    font-weight: var(--font-bold);
    font-style: italic;
    font-family: var(--font-serif);
    color: var(--color-rose);
}


a {
    color: var(--color-storm);
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--color-agave);
    transition: color 250ms ease-in, text-decoration-color 250ms ease-in;
}

a:hover {
    color: var(--color-rose);
    text-decoration-color: var(--color-rose-light);
}

a:focus {
    outline: 2px dotted var(--color-marigold);
    text-decoration-color: var(--color-marigold);
}

a:active {
    color: var(--color-marigold);
    text-decoration-color: var(--color-marigold);
}

/*  don't underline the site header link or nav links */
.site-mast a {
    text-decoration: none;
}

p,
ul,
ol,
dl,
blockquote {
    margin: 0 0 1.5em 0;
}

ol,
ul {
    padding-left: 1.3em;
    padding-right: 1.5em;
}

ol ol,
ul ul,
ul ol,
ol ul {
    margin: 0.5em 0 1em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

ul,
ol {
    max-width: 100%;
}

li {
    margin: 0.5em 0;
    padding-left: 0.3em;
    line-height: 1.6em;
}

dt {
    float: left;
    margin: 0 20px 0 0;
    width: 120px;
    font-weight: 500;
    text-align: right;
}

dd {
    margin: 0 0 5px 0;
    text-align: left;
}
